.error {
    color: red;
}

.warn {
    color: orangered;
}

.success {
    color: green;
}

nav ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: lightgray;
}

nav li {
    float: left;
    padding: 5px;
}

nav li:hover {
    border: 1px solid green;
    border-radius: 5px;
    background-color: greenyellow;
}

nav ul:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

